<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloExample from "./components/HelloExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent /> <br /><br />
    <FormBindings /> <br /><br />
    <ConditionsAndLoops />
    <AttributeBinding />
    <HandlingUserInput />
    <CalComponent />
    <HelloExample />
  </div>
</template>


<style scoped>
 
</style>
